body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFC56;
}

ul {
	margin-left: -2rem;
}

li {
	list-style-type: none;
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 1.5rem;
}

h1 {
	font-family: 'Mansalva', cursive;
	font-size: 5rem;
	color: white;
	margin-left: -4rem;
}

input {
	padding-left: .5rem;
}

input, button {
	font-family: 'Roboto Mono', monospace;
	border-color: black;
	border-radius: 1rem;
}

.supp {
	margin: .5rem;
}

.darkmode {
	margin-left: -6.5rem;
}

.checked {
	text-decoration: line-through;
    	color: #BF0413;
	font-size: 1.2rem;
	margin-left: 2rem;
}
