body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFC56;
}

li {
	list-style-type: none;
}

h1 {
	font-family: 'Mansalva', cursive;
	font-size: 5rem;
}

input {
	padding-left: .5rem;
}

input, button {
	font-family: 'Roboto Mono', monospace;
	border-color: black;
	border-radius: 1rem;
}

.supp {
	margin: .5rem;
}
